<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/acr/logo.png" alt="logo"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/p">AC</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Community
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink0">
            <a class="dropdown-item" href="https://acrf.victorz.ca">Forum</a>
            <a class="dropdown-item" href="https://acreloaded.wikia.com">Wiki (Wikia)</a>
            <a class="dropdown-item" href="https://armory.icyboards.net/">Armory (mods)</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Chat</h6>
            <a class="dropdown-item" href="https://discord.gg/Mx2DMCJ62v">Discord</a>
            <a class="dropdown-item" href="irc://chat.freenode.net/acreloaded">IRC (#acreloaded)</a>
            <a class="dropdown-item" href="https://webchat.freenode.net/#acreloaded">Web Chat (freenode)</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Social Media</h6>
            <a class="dropdown-item" href="https://www.facebook.com/acreloaded">Facebook</a>
            <a class="dropdown-item" href="https://twitter.com/ACreloaded">Twitter</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Project Links
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <a class="dropdown-item" href="https://github.com/acreloaded/acr/issues">Report Defect</a>
            <a class="dropdown-item" href="https://github.com/acreloaded/acr/commits/master">Commit History</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Project Pages</h6>
            <a class="dropdown-item" href="https://github.com/acreloaded">GitHub</a>
            <a class="dropdown-item" href="https://sourceforge.net/projects/assaultcuber/">SourceForge</a>
            <a class="dropdown-item" href="https://www.moddb.com/games/acreloaded">ModDB</a>
            <a class="dropdown-item" href="https://www.indiedb.com/games/acreloaded">IndieDB</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tools
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <a class="dropdown-item" href="{{ site.baseurl }}/tools/muts">Mutators</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/tools/color">Color Codes</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/tools/weap">Weapon Stats <span class="badge badge-info">NEW</span></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Team
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
            <a class="dropdown-item" href="{{ site.baseurl }}/team/">Credits</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/team/logos">Logos</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/team/msr/">Master-Server Rules</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.edit_prefix }}{{ page.path }}">Edit</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
