<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}AssaultCube Reloaded</title>

  <meta name="keywords" content="assault,cube,reloaded,special,edition,reload,game,first,person,shooter,free,open,source,fun,battle,field,battlefield,quake,callofduty,call,of,duty,ac,engine,games,gameplay,acreloaded,acr,assaultcuber,assaultcubes"/>
  {% if page.desc %}
  <meta name="description" content="{{ page.desc }}"/>
  {% endif %}

  {% assign url_prefix6 = page.url | slice: 0, 6 %}
  {% if url_prefix6 == '/team/' %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/acr/favicon_team.ico">
  {% else %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/acr/favicon.ico">
  {% endif %}

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/yeti.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/acr/global.css">
</head>
<body>
  <header>
    {% include navbar.html %}
  </header>

  {% unless page.url == '/' %}
  <div class="container">
  {% endunless %}
    {{ content }}

    <script src="//d.victorz.ca/a/acr_foot"></script>

  {% unless page.url == '/' %}
  </div> <!-- /container -->
  {% endunless %}

  <footer class="footer">
    <div class="container">
      <p>
        Copyright &copy; 2010-{{ site.time | date: "%Y" }} the <a href="{{ site.baseurl }}/team/">AssaultCube Reloaded Task Force</a>.

        <span class="text-muted">
          Run by <a href="https://victorz.ca"><img src="//victorz.ca/assets/a/80-15.png" alt="Victor"/></a>,
          this site was last generated
          <span class="timeago" title="{{ site.time | date_to_xmlschema }}">{{ site.time }}</span>.
          It uses <a href="https://validator.w3.org/check?uri=referer">HTML 5</a> and
          <a href="https://jigsaw.w3.org/css-validator/check/referer?profile=css3">CSS 3</a>.
        </span>

        <script src="//d.victorz.ca/online.js?o=s"></script>
      </p>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{{ site.baseurl }}/assets/jquery/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/bootstrap/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/jquery/jquery.timeago.min.js"></script>
  <script src="{{ site.baseurl }}/assets/acr/global.js"></script>
  {% if page.url == '/' %}
  <script type="text/javascript">
    // SOPA script (second part was added to disable redirections)
    if(window.location.search.indexOf('bypass=') == -1 && window.location.search.indexOf('sopatest=') != -1)
      window.location.replace('sopa')
  </script>
  {% endif %}
  {% if page.script_custom %}<script src="{{ page.script_custom }}"></script>{% endif %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11274478-11"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-11274478-11');
  </script>
</body>
</html>
